.searchResultsPanel {
  font-family: Segoe UI, sans-serif;
  margin: 25px auto;
  max-width: 900px;
}

.searchResultsPanel>.panel-body {
  padding: 0px;
}

.searchResultsPanel>.panel-heading {
  font-size: 28px;
  font-weight: bold;
}

.searchResultsPanel>.panel-heading>.searchAgainButton {
  margin-top: 3px;
}


.searchResultsPanel .searchResult {
  margin: 20px;
}

.searchResultsPanel .searchResult>.panel-heading {
  font-size: 18px;
  font-weight: bold;
}

.searchResultsPanel .searchResult>.panel-body {
  font-size: 16px
}

a>.searchResult>.panel-body {
  color: #666;
}